body {
  background: linear-gradient(193deg, #060016 20%, #410077 51%, #260057 85%);
  width: 100%;
  height: 1000px;
}

* {
  font-family: "Raleway";
}

#image {
  background-image: url("../images/login.jpg");
  background-size: cover;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 125%;
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: brightness(100%);
  z-index: -1;
}

/* Source: https://www.w3schools.com/howto/howto_css_blurred_background.asp */
.loginWindow {
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.2);
  /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  /* Position: absolute --> z-index brings it forward */
  width: 25%;
  padding: 20px;
  text-align: center;
}

#footer {
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 1);
  /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  position: absolute;
  top: 100%;
  left: 50%;
  height: auto;
  transform: translate(-50%, -50%);
  z-index: 2;
  /* Position: absolute --> z-index brings it forward */
  width: 100%;
  padding: 20px;
  text-align: center;
  /* Source: https://stackoverflow.com/questions/643879/css-to-make-html-page-footer-stay-at-bottom-of-the-page-with-a-minimum-height-b */
  clear: both;
  position: relative;
  margin-top: -500px;
}

#downNote {
  background-color: #6351ce;
  display: inline-block;
  width: 95%;
  height: 25px;
}

input[type="checkbox"] {
  -webkit-appearance: checkbox;
  -moz-appearance: checkbox;
  appearance: checkbox;
  width: auto;
}

#forget {
  display: block;
  margin-right: auto;
  margin-left: auto;
  background-color: #6351ce;
  width: 95%;
  height: 25px;
}

#space1 {
  margin-top: 40px;
}

#space2 {
  margin: 10px;
}

/* Source for codes below: https://www.w3schools.com/howto/howto_css_parallax.asp */
.bgimg-1,
.bgimg-2,
.bgimg-3 {
  position: relative;
  opacity: 0.65;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.bgimg-1 {
  background-image: url("img_parallax.jpg");
  min-height: 10%;
}

.bgimg-2 {
  background-image: url("images/homebackground.jpg");
  min-height: 400px;
}

.bgimg-3 {
  background-image: url("img_parallax3.jpg");
  min-height: 400px;
}

.caption {
  display: block;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
}

.mainCaption {
  display: block;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  top: 5%;
  width: 100%;
  text-align: center;
  color: white;
  padding: 50px;
  font-size: 50px;
  letter-spacing: 6px;
}

.caption span.border {
  background-color: #111;
  color: #fff;
  padding: 50px;
  font-size: 25px;
  letter-spacing: 10px;
}

h3 {
  letter-spacing: 5px;
  text-transform: uppercase;
  font: 20px "Lato", sans-serif;
  color: #111;
}

#firstDividing {
  position: relative;
  margin-top: 400px;
  color: #777;
  background-color: white;
  text-align: center;
  padding: 50px 80px;
  text-align: justify;
}

.grey-text {
  color: white;
}

#best-features {
  margin-top: 950px;
}

#tutorial {
  color: white;
}

#signIn {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: blue;
  text-align: center;
  color: white;
  width: 10%;
  height: 80px;
  border-radius: 10px;
  top: 800px;
}

#signIn:hover {
  box-shadow: 2px 2px 2px #6351ce;
}

#signIn>h2 {
  padding-top: 20px;
}

/* iPhoneX resolution */
@media screen and (max-width: 375px) {
  body {
    background: linear-gradient(193deg, #060016 20%, #410077 51%, #260057 85%);
    width: 100%;
    height: 1250px;

  }

  * {
    font-family: "Raleway";
  }

  #image {
    background-image: url("../images/login.jpg");
    background-size: cover;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 175%;
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: brightness(100%);
    z-index: -1;
  }

  /* Source: https://www.w3schools.com/howto/howto_css_blurred_background.asp */
  .loginWindow {
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.2);
    /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    /* Position: absolute --> z-index brings it forward */
    width: 25%;
    padding: 20px;
    text-align: center;
  }

  #footer {
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 1);
    /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    position: absolute;
    top: 100%;
    left: 50%;
    height: auto;
    transform: translate(-50%, -50%);
    z-index: 2;
    /* Position: absolute --> z-index brings it forward */
    width: 100%;
    padding: 20px;
    text-align: center;
    /* Source: https://stackoverflow.com/questions/643879/css-to-make-html-page-footer-stay-at-bottom-of-the-page-with-a-minimum-height-b */
    clear: both;
    position: relative;
    margin-top: -1000px;
  }

  #downNote {
    background-color: #6351ce;
    display: inline-block;
    width: 95%;
    height: 25px;
  }

  input[type="checkbox"] {
    -webkit-appearance: checkbox;
    -moz-appearance: checkbox;
    appearance: checkbox;
    width: auto;
  }

  #forget {
    display: block;
    margin-right: auto;
    margin-left: auto;
    background-color: #6351ce;
    width: 95%;
    height: 25px;
  }

  #space1 {
    margin-top: 40px;
  }

  #space2 {
    margin: 10px;
    overflow-x: hidden;
  }

  /* Source for codes below: https://www.w3schools.com/howto/howto_css_parallax.asp */
  .bgimg-1,
  .bgimg-2,
  .bgimg-3 {
    position: relative;
    opacity: 0.65;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;


  }

  .bgimg-1 {
    background-image: url("img_parallax.jpg");
    min-height: 10%;
  }

  .bgimg-2 {
    background-image: url("images/homebackground.jpg");
    min-height: 400px;
  }

  .bgimg-3 {
    background-image: url("img_parallax3.jpg");
    min-height: 400px;
  }

  .caption {
    display: block;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
  }

  .mainCaption {
    display: block;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    top: 5%;
    width: 100%;
    text-align: center;
    color: white;
    padding: 50px;
    font-size: 50px;
    letter-spacing: 3px;
  }

  .caption span.border {
    background-color: #111;
    color: #fff;
    padding: 50px;
    font-size: 25px;
    letter-spacing: 10px;
  }

  h3 {
    letter-spacing: 5px;
    text-transform: uppercase;
    font: 20px "Lato", sans-serif;
    color: #111;
  }

  #firstDividing {
    position: relative;
    margin-top: 400px;
    color: #777;
    background-color: white;
    text-align: center;
    padding: 50px 80px;
    text-align: justify;
  }

  .grey-text {
    color: white;
  }

  #best-features {
    margin-top: 950px;
  }

  #tutorial {
    color: white;
  }

  #signIn {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: #6351ce;
    text-align: center;
    color: white;
    width: 50%;
    margin-top: -5rem;
    border-radius: 10px;
    top: 500px;
  }

  #signIn:hover {
    box-shadow: 2px 2px 2px #6351ce;
  }

  #signIn>h2 {
    padding-top: 20px;
  }
}

@media screen and (max-width: 320px) {
  body {
    background: linear-gradient(193deg, #060016 20%, #410077 51%, #260057 85%);
    width: 115%;
    height: 1250px;
  }

  * {
    font-family: "Raleway";
  }

  #image {
    background-image: url("images/login.jpg");
    background-size: cover;
    position: absolute;
    left: 0;
    top: 0;
    width: 120%;
    height: 175%;
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: brightness(100%);
    z-index: -1;
  }

  /* Source: https://www.w3schools.com/howto/howto_css_blurred_background.asp */
  .loginWindow {
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.2);
    /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    /* Position: absolute --> z-index brings it forward */
    width: 25%;
    padding: 20px;
    text-align: center;
  }

  #footer {
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 1);
    /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    position: absolute;
    top: 100%;
    left: 50%;
    height: auto;
    transform: translate(-50%, -50%);
    z-index: 2;
    /* Position: absolute --> z-index brings it forward */
    width: 100%;
    padding: 20px;
    text-align: center;
    /* Source: https://stackoverflow.com/questions/643879/css-to-make-html-page-footer-stay-at-bottom-of-the-page-with-a-minimum-height-b */
    clear: both;
    position: relative;
    margin-top: -600px;
  }

  #downNote {
    background-color: #6351ce;
    display: inline-block;
    width: 95%;
    height: 25px;
  }

  input[type="checkbox"] {
    -webkit-appearance: checkbox;
    -moz-appearance: checkbox;
    appearance: checkbox;
    width: auto;
  }

  #forget {
    display: block;
    margin-right: auto;
    margin-left: auto;
    background-color: #6351ce;
    width: 95%;
    height: 25px;
  }

  #space1 {
    margin-top: 40px;
  }

  #space2 {
    margin: 10px;
  }

  /* Source for codes below: https://www.w3schools.com/howto/howto_css_parallax.asp */
  .bgimg-1,
  .bgimg-2,
  .bgimg-3 {
    position: relative;
    opacity: 0.65;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

  }

  .bgimg-1 {
    background-image: url("img_parallax.jpg");
    min-height: 10%;
  }

  .bgimg-2 {
    background-image: url("images/homebackground.jpg");
    min-height: 400px;
  }

  .bgimg-3 {
    background-image: url("img_parallax3.jpg");
    min-height: 400px;
  }

  .caption {
    display: block;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
  }

  .mainCaption {
    display: block;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    top: 5%;
    width: 100%;
    text-align: center;
    color: white;
    padding: 50px;
    font-size: 50px;
    letter-spacing: 2px;
  }

  .caption span.border {
    background-color: #111;
    color: #fff;
    padding: 50px;
    font-size: 25px;
    letter-spacing: 10px;
  }

  h3 {
    letter-spacing: 5px;
    text-transform: uppercase;
    font: 20px "Lato", sans-serif;
    color: #111;
  }

  #firstDividing {
    position: relative;
    margin-top: 400px;
    color: #777;
    background-color: white;
    text-align: center;
    padding: 50px 80px;
    text-align: justify;
  }

  .grey-text {
    color: white;
  }

  #best-features {
    margin-top: 950px;
  }

  #tutorial {
    color: white;
  }

  #signIn {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: blue;
    text-align: center;
    color: white;
    width: 50%;
    height: 80px;
    border-radius: 10px;
    top: 500px;
  }

  #signIn:hover {
    box-shadow: 2px 2px 2px #6351ce;
  }

  #signIn>h2 {
    padding-top: 20px;
  }
}

/* iPhone 6/7/8 Resolution */
@media screen and (max-width: 414px) {
  body {
    background: linear-gradient(193deg, #060016 20%, #410077 51%, #260057 85%);
    width: 100%;
    height: 1300px;

  }

  * {
    font-family: "Raleway";
  }

  #image {
    background-image: url("images/login.jpg");
    background-size: cover;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 175%;
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: brightness(100%);
    z-index: -1;
  }

  /* Source: https://www.w3schools.com/howto/howto_css_blurred_background.asp */
  .loginWindow {
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.2);
    /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    /* Position: absolute --> z-index brings it forward */
    width: 25%;
    padding: 20px;
    text-align: center;
  }

  #footer {
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 1);
    /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    position: absolute;
    top: 100%;
    left: 50%;
    height: auto;
    transform: translate(-50%, -50%);
    z-index: 2;
    /* Position: absolute --> z-index brings it forward */
    width: 100%;
    padding: 20px;
    text-align: center;
    /* Source: https://stackoverflow.com/questions/643879/css-to-make-html-page-footer-stay-at-bottom-of-the-page-with-a-minimum-height-b */
    clear: both;
    position: relative;
    margin-top: -600px;
  }

  #downNote {
    background-color: #6351ce;
    display: inline-block;
    width: 95%;
    height: 25px;
  }

  input[type="checkbox"] {
    -webkit-appearance: checkbox;
    -moz-appearance: checkbox;
    appearance: checkbox;
    width: auto;
  }

  #forget {
    display: block;
    margin-right: auto;
    margin-left: auto;
    background-color: #6351ce;
    width: 95%;
    height: 25px;
  }

  #space1 {
    margin-top: 40px;
  }

  #space2 {
    margin: 10px;
    overflow-x: hidden;
  }

  /* Source for codes below: https://www.w3schools.com/howto/howto_css_parallax.asp */
  .bgimg-1,
  .bgimg-2,
  .bgimg-3 {
    position: relative;
    opacity: 0.65;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;


  }

  .bgimg-1 {
    background-image: url("img_parallax.jpg");
    min-height: 10%;
  }

  .bgimg-2 {
    background-image: url("images/homebackground.jpg");
    min-height: 400px;
  }

  .bgimg-3 {
    background-image: url("img_parallax3.jpg");
    min-height: 400px;
  }

  .caption {
    display: block;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
  }

  .mainCaption {
    display: block;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    top: 5%;
    width: 100%;
    text-align: center;
    color: white;
    padding: 50px;
    font-size: 50px;
    letter-spacing: 3px;
  }

  .caption span.border {
    background-color: #111;
    color: #fff;
    padding: 50px;
    font-size: 25px;
    letter-spacing: 10px;
  }

  h3 {
    letter-spacing: 5px;
    text-transform: uppercase;
    font: 20px "Lato", sans-serif;
    color: #111;
  }

  #firstDividing {
    position: relative;
    margin-top: 400px;
    color: #777;
    background-color: white;
    text-align: center;
    padding: 50px 80px;
    text-align: justify;
  }

  .grey-text {
    color: white;
  }

  #best-features {
    margin-top: 950px;
  }

  #tutorial {
    color: white;
  }

  #signIn {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: blue;
    text-align: center;
    color: white;
    width: 50%;
    height: 80px;
    border-radius: 10px;
    top: 450px;
  }

  #signIn:hover {
    box-shadow: 2px 2px 2px #6351ce;
  }

  #signIn>h2 {
    padding-top: 20px;
  }
}


@media screen and (max-width: 768px) {
  body {
    background: linear-gradient(193deg, #060016 20%, #410077 51%, #260057 85%);
    width: 100%;
    height: 1050px;

  }

  * {
    font-family: "Raleway";
  }

  #image {
    background-image: url("images/login.jpg");
    background-size: hide;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 175%;
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: brightness(100%);
    z-index: -1;
  }

  /* Source: https://www.w3schools.com/howto/howto_css_blurred_background.asp */
  .loginWindow {
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.2);
    /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    /* Position: absolute --> z-index brings it forward */
    width: 25%;
    padding: 20px;
    text-align: center;
  }

  #footer {
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 1);
    /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    position: absolute;
    top: 100%;
    left: 50%;
    height: auto;
    transform: translate(-50%, -50%);
    z-index: 2;
    /* Position: absolute --> z-index brings it forward */
    width: 100%;
    padding: 20px;
    text-align: center;
    /* Source: https://stackoverflow.com/questions/643879/css-to-make-html-page-footer-stay-at-bottom-of-the-page-with-a-minimum-height-b */
    clear: both;
    position: relative;
    margin-top: -750px;
  }

  #downNote {
    background-color: #6351ce;
    display: inline-block;
    width: 95%;
    height: 25px;
  }

  input[type="checkbox"] {
    -webkit-appearance: checkbox;
    -moz-appearance: checkbox;
    appearance: checkbox;
    width: auto;
  }

  #forget {
    display: block;
    margin-right: auto;
    margin-left: auto;
    background-color: #6351ce;
    width: 95%;
    height: 25px;
  }

  #space1 {
    margin-top: 40px;
  }

  #space2 {
    margin: 10px;
    overflow-x: hidden;
  }

  /* Source for codes below: https://www.w3schools.com/howto/howto_css_parallax.asp */
  .bgimg-1,
  .bgimg-2,
  .bgimg-3 {
    position: relative;
    opacity: 0.65;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;


  }

  .bgimg-1 {
    background-image: url("img_parallax.jpg");
    min-height: 10%;
  }

  .bgimg-2 {
    background-image: url("images/homebackground.jpg");
    min-height: 400px;
  }

  .bgimg-3 {
    background-image: url("img_parallax3.jpg");
    min-height: 400px;
  }

  .caption {
    display: block;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
  }

  .mainCaption {
    display: block;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    top: 5%;
    width: 100%;
    text-align: center;
    color: white;
    padding: 50px;
    font-size: 50px;
    letter-spacing: 3px;
  }

  .caption span.border {
    background-color: #111;
    color: #fff;
    padding: 50px;
    font-size: 25px;
    letter-spacing: 10px;
  }

  h3 {
    letter-spacing: 5px;
    text-transform: uppercase;
    font: 20px "Lato", sans-serif;
    color: #111;
  }

  #firstDividing {
    position: relative;
    margin-top: 400px;
    color: #777;
    background-color: white;
    text-align: center;
    padding: 50px 80px;
    text-align: justify;
  }

  .grey-text {
    color: white;
  }

  #best-features {
    margin-top: 750px;
  }

  #tutorial {
    color: white;
  }

  #signIn {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: blue;
    text-align: center;
    color: white;
    width: 50%;
    height: 80px;
    border-radius: 10px;
    top: 600px;
  }

  #signIn:hover {
    box-shadow: 2px 2px 2px #6351ce;
  }

  #signIn>h2 {
    padding-top: 20px;
  }
}

@media screen and (max-width: 670px) {
  body {
    background: linear-gradient(193deg, #060016 20%, #410077 51%, #260057 85%);
    width: 100%;
    height: 1050px;

  }

  * {
    font-family: "Raleway";
  }

  #image {
    background-image: url("images/login.jpg");
    background-size: hide;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 200%;
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: brightness(100%);
    z-index: -1;
  }

  /* Source: https://www.w3schools.com/howto/howto_css_blurred_background.asp */
  .loginWindow {
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.2);
    /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    /* Position: absolute --> z-index brings it forward */
    width: 25%;
    padding: 20px;
    text-align: center;
  }

  #footer {
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 1);
    /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    position: absolute;
    top: 100%;
    left: 50%;
    height: auto;
    transform: translate(-50%, -50%);
    z-index: 2;
    /* Position: absolute --> z-index brings it forward */
    width: 100%;
    padding: 20px;
    text-align: center;
    /* Source: https://stackoverflow.com/questions/643879/css-to-make-html-page-footer-stay-at-bottom-of-the-page-with-a-minimum-height-b */
    clear: both;
    position: relative;
    margin-top: -750px;
  }

  #downNote {
    background-color: #6351ce;
    display: inline-block;
    width: 95%;
    height: 25px;
  }

  input[type="checkbox"] {
    -webkit-appearance: checkbox;
    -moz-appearance: checkbox;
    appearance: checkbox;
    width: auto;
  }

  #forget {
    display: block;
    margin-right: auto;
    margin-left: auto;
    background-color: #6351ce;
    width: 95%;
    height: 25px;
  }

  #space1 {
    margin-top: 40px;
  }

  #space2 {
    margin: 10px;
    overflow-x: hidden;
  }

  /* Source for codes below: https://www.w3schools.com/howto/howto_css_parallax.asp */
  .bgimg-1,
  .bgimg-2,
  .bgimg-3 {
    position: relative;
    opacity: 0.65;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;


  }

  .bgimg-1 {
    background-image: url("img_parallax.jpg");
    min-height: 10%;
  }

  .bgimg-2 {
    background-image: url("images/homebackground.jpg");
    min-height: 400px;
  }

  .bgimg-3 {
    background-image: url("img_parallax3.jpg");
    min-height: 400px;
  }

  .caption {
    display: block;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
  }

  .mainCaption {
    display: block;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    top: 5%;
    width: 100%;
    text-align: center;
    color: white;
    padding: 50px;
    font-size: 50px;
    letter-spacing: 3px;
  }

  .caption span.border {
    background-color: #111;
    color: #fff;
    padding: 50px;
    font-size: 25px;
    letter-spacing: 10px;
  }

  h3 {
    letter-spacing: 5px;
    text-transform: uppercase;
    font: 20px "Lato", sans-serif;
    color: #111;
  }

  #firstDividing {
    position: relative;
    margin-top: 400px;
    color: #777;
    background-color: white;
    text-align: center;
    padding: 50px 80px;
    text-align: justify;
  }

  .grey-text {
    color: white;
  }

  #best-features {
    margin-top: 750px;
  }

  #tutorial {
    color: white;
  }

  #signIn {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: blue;
    text-align: center;
    color: white;
    width: 20%;
    height: 80px;
    border-radius: 10px;
    top: 600px;
  }

  #signIn:hover {
    box-shadow: 2px 2px 2px #6351ce;
  }

  #signIn>h2 {
    padding-top: 20px;
  }
}

@media screen and (max-width: 1024px) {
  body {
    background: linear-gradient(193deg, #060016 20%, #410077 51%, #260057 85%);
    width: 100%;
    height: 1050px;

  }

  * {
    font-family: "Raleway";
  }

  #image {
    background-image: url("images/login.jpg");
    background-size: hide;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 200%;
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: brightness(100%);
    z-index: -1;
  }

  /* Source: https://www.w3schools.com/howto/howto_css_blurred_background.asp */
  .loginWindow {
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.2);
    /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    /* Position: absolute --> z-index brings it forward */
    width: 25%;
    padding: 20px;
    text-align: center;
  }

  #footer {
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 1);
    /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    position: absolute;
    top: 100%;
    left: 50%;
    height: auto;
    transform: translate(-50%, -50%);
    z-index: 2;
    /* Position: absolute --> z-index brings it forward */
    width: 100%;
    padding: 20px;
    text-align: center;
    /* Source: https://stackoverflow.com/questions/643879/css-to-make-html-page-footer-stay-at-bottom-of-the-page-with-a-minimum-height-b */
    clear: both;
    position: relative;
    margin-top: -750px;
  }

  #downNote {
    background-color: #6351ce;
    display: inline-block;
    width: 95%;
    height: 25px;
  }

  input[type="checkbox"] {
    -webkit-appearance: checkbox;
    -moz-appearance: checkbox;
    appearance: checkbox;
    width: auto;
  }

  #forget {
    display: block;
    margin-right: auto;
    margin-left: auto;
    background-color: #6351ce;
    width: 95%;
    height: 25px;
  }

  #space1 {
    margin-top: 40px;
  }

  #space2 {
    margin: 10px;
    overflow-x: hidden;
  }

  /* Source for codes below: https://www.w3schools.com/howto/howto_css_parallax.asp */
  .bgimg-1,
  .bgimg-2,
  .bgimg-3 {
    position: relative;
    opacity: 0.65;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;


  }

  .bgimg-1 {
    background-image: url("img_parallax.jpg");
    min-height: 10%;
  }

  .bgimg-2 {
    background-image: url("images/homebackground.jpg");
    min-height: 400px;
  }

  .bgimg-3 {
    background-image: url("img_parallax3.jpg");
    min-height: 400px;
  }

  .caption {
    display: block;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
  }

  .mainCaption {
    display: block;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    top: 5%;
    width: 100%;
    text-align: center;
    color: white;
    padding: 50px;
    font-size: 50px;
    letter-spacing: 3px;
  }

  .caption span.border {
    background-color: #111;
    color: #fff;
    padding: 50px;
    font-size: 25px;
    letter-spacing: 10px;
  }

  h3 {
    letter-spacing: 5px;
    text-transform: uppercase;
    font: 20px "Lato", sans-serif;
    color: #111;
  }

  #firstDividing {
    position: relative;
    margin-top: 400px;
    color: #777;
    background-color: white;
    text-align: center;
    padding: 50px 80px;
    text-align: justify;
  }

  .grey-text {
    color: white;
  }

  #best-features {
    margin-top: 750px;
  }

  #tutorial {
    color: white;
  }

  #signIn {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: blue;
    text-align: center;
    color: white;
    width: 20%;
    height: 80px;
    border-radius: 10px;
    top: 600px;
  }

  #signIn:hover {
    box-shadow: 2px 2px 2px #6351ce;
  }

  #signIn>h2 {
    padding-top: 20px;
  }
}

@media screen and (max-width: 555px) {
  body {
    background: linear-gradient(193deg, #060016 20%, #410077 51%, #260057 85%);
    width: 100%;
    height: 1050px;

  }

  * {
    font-family: "Raleway";
  }

  #image {
    background-image: url("images/login.jpg");
    background-size: hide;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 250%;
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: brightness(100%);
    z-index: -1;
  }

  /* Source: https://www.w3schools.com/howto/howto_css_blurred_background.asp */
  .loginWindow {
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.2);
    /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    /* Position: absolute --> z-index brings it forward */
    width: 25%;
    padding: 20px;
    text-align: center;
  }

  #footer {
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 1);
    /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    position: absolute;
    top: 100%;
    left: 50%;
    height: auto;
    transform: translate(-50%, -50%);
    z-index: 2;
    /* Position: absolute --> z-index brings it forward */
    width: 100%;
    padding: 20px;
    text-align: center;
    /* Source: https://stackoverflow.com/questions/643879/css-to-make-html-page-footer-stay-at-bottom-of-the-page-with-a-minimum-height-b */
    clear: both;
    position: relative;
    margin-top: -450px;
  }

  #downNote {
    background-color: #6351ce;
    display: inline-block;
    width: 95%;
    height: 25px;
  }

  input[type="checkbox"] {
    -webkit-appearance: checkbox;
    -moz-appearance: checkbox;
    appearance: checkbox;
    width: auto;
  }

  #forget {
    display: block;
    margin-right: auto;
    margin-left: auto;
    background-color: #6351ce;
    width: 95%;
    height: 25px;
  }

  #space1 {
    margin-top: 40px;
  }

  #space2 {
    margin: 10px;
    overflow-x: hidden;
  }

  /* Source for codes below: https://www.w3schools.com/howto/howto_css_parallax.asp */
  .bgimg-1,
  .bgimg-2,
  .bgimg-3 {
    position: relative;
    opacity: 0.65;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;


  }

  .bgimg-1 {
    background-image: url("img_parallax.jpg");
    min-height: 10%;
  }

  .bgimg-2 {
    background-image: url("images/homebackground.jpg");
    min-height: 400px;
  }

  .bgimg-3 {
    background-image: url("img_parallax3.jpg");
    min-height: 400px;
  }

  .caption {
    display: block;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
  }

  .mainCaption {
    display: block;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    top: 5%;
    width: 100%;
    text-align: center;
    color: white;
    padding: 50px;
    font-size: 50px;
    letter-spacing: 3px;
  }

  .caption span.border {
    background-color: #111;
    color: #fff;
    padding: 50px;
    font-size: 25px;
    letter-spacing: 10px;
  }

  h3 {
    letter-spacing: 5px;
    text-transform: uppercase;
    font: 20px "Lato", sans-serif;
    color: #111;
  }

  #firstDividing {
    position: relative;
    margin-top: 400px;
    color: #777;
    background-color: white;
    text-align: center;
    padding: 50px 80px;
    text-align: justify;
  }

  .grey-text {
    color: white;
  }

  #best-features {
    margin-top: 750px;
  }

  #tutorial {
    color: white;
  }

  #signIn {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: blue;
    text-align: center;
    color: white;
    width: 30%;
    height: 80px;
    border-radius: 10px;
    top: 600px;
  }

  #signIn:hover {
    box-shadow: 2px 2px 2px #6351ce;
  }

  #signIn>h2 {
    padding-top: 20px;
  }
}

@media screen and (max-width: 351px) {
  body {
    background: linear-gradient(193deg, #060016 20%, #410077 51%, #260057 85%);
    width: 100%;
    height: 1050px;

  }

  * {
    font-family: "Raleway";
  }

  #image {
    background-image: url("images/login.jpg");
    background-size: hide;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 250%;
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: brightness(100%);
    z-index: -1;
  }

  /* Source: https://www.w3schools.com/howto/howto_css_blurred_background.asp */
  .loginWindow {
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.2);
    /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    /* Position: absolute --> z-index brings it forward */
    width: 25%;
    padding: 20px;
    text-align: center;
  }

  #footer {
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 1);
    /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    position: absolute;
    top: 100%;
    left: 50%;
    height: auto;
    transform: translate(-50%, -50%);
    z-index: 2;
    /* Position: absolute --> z-index brings it forward */
    width: 100%;
    padding: 20px;
    text-align: center;
    /* Source: https://stackoverflow.com/questions/643879/css-to-make-html-page-footer-stay-at-bottom-of-the-page-with-a-minimum-height-b */
    clear: both;
    position: relative;
    margin-top: -450px;
  }

  #downNote {
    background-color: #6351ce;
    display: inline-block;
    width: 95%;
    height: 25px;
  }

  input[type="checkbox"] {
    -webkit-appearance: checkbox;
    -moz-appearance: checkbox;
    appearance: checkbox;
    width: auto;
  }

  #forget {
    display: block;
    margin-right: auto;
    margin-left: auto;
    background-color: #6351ce;
    width: 95%;
    height: 25px;
  }

  #space1 {
    margin-top: 40px;
  }

  #space2 {
    margin: 10px;
    overflow-x: hidden;
  }

  /* Source for codes below: https://www.w3schools.com/howto/howto_css_parallax.asp */
  .bgimg-1,
  .bgimg-2,
  .bgimg-3 {
    position: relative;
    opacity: 0.65;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;


  }

  .bgimg-1 {
    background-image: url("img_parallax.jpg");
    min-height: 10%;
  }

  .bgimg-2 {
    background-image: url("images/homebackground.jpg");
    min-height: 400px;
  }

  .bgimg-3 {
    background-image: url("img_parallax3.jpg");
    min-height: 400px;
  }

  .caption {
    display: block;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
  }

  .mainCaption {
    display: block;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    top: 5%;
    width: 100%;
    text-align: center;
    color: white;
    padding: 50px;
    font-size: 50px;
    letter-spacing: 3px;
  }

  .caption span.border {
    background-color: #111;
    color: #fff;
    padding: 50px;
    font-size: 25px;
    letter-spacing: 10px;
  }

  h3 {
    letter-spacing: 5px;
    text-transform: uppercase;
    font: 20px "Lato", sans-serif;
    color: #111;
  }

  #firstDividing {
    position: relative;
    margin-top: 400px;
    color: #777;
    background-color: white;
    text-align: center;
    padding: 50px 80px;
    text-align: justify;
  }

  .grey-text {
    color: white;
  }

  #best-features {
    margin-top: 750px;
  }

  #tutorial {
    color: white;
  }

  #signIn {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: blue;
    text-align: center;
    color: white;
    width: 40%;
    height: 80px;
    border-radius: 10px;
    top: 600px;
  }

  #signIn:hover {
    box-shadow: 2px 2px 2px #6351ce;
  }

  #signIn>h2 {
    padding-top: 20px;
  }

  .button {
    margin-top: -10rem;
  }
}