* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway";
  color: black;
}

html {
  font-size: 12pt;
}

body {
  background-color: #212121;
  min-width: 1400px;
}

.cardContainer {
  display: flex;
  justify-content: center;
}

#streak {
  font-size: 25pt;
  font-weight: bold;
}

#streakMessage {
  font-size: 20pt;
}

.progress {
  height: 25px;
}

.drop-down {
  position: relative;
  margin-left: 950px;
}

.drop-down:hover .button-content {
  display: grid;
  position: absolute;
  grid-template-rows: auto auto auto;
  height: 60px;
  right: 0px;
  top: 40px;
  text-align: center;
}

.button {
  border: none;
  background-color: white;
}

.button-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}