* {
font-family: "Raleway";
}

#image {
background-image: url("../images/login.jpg");
position: absolute;
left: 0;
top: 0;
width: 100%;
height: 130%;
-webkit-filter: blur(5px);
-moz-filter: blur(5px);
-o-filter: blur(5px);
-ms-filter: blur(5px);
filter: brightness(25%);
z-index: -1;
}

/* Source: https://www.w3schools.com/howto/howto_css_blurred_background.asp */
.loginWindow {
background-color: rgb(0, 0, 0);
/* Fallback color */
background-color: rgba(0, 0, 0, 0.2);
/* Black w/opacity/see-through */
color: white;
font-weight: bold;
position: absolute;
top: 40%;
left: 50%;
transform: translate(-50%, -50%);
z-index: 2;
/* Position: absolute --> z-index brings it forward */
width: 25%;
padding: 20px;
text-align: center;
}

#footer {
background-color: rgb(0, 0, 0);
/* Fallback color */
background-color: rgba(0, 0, 0, 0.4);
/* Black w/opacity/see-through */
color: white;
font-weight: bold;
position: absolute;
top: 100%;
left: 50%;
transform: translate(-50%, -50%);
z-index: 2;
/* Position: absolute --> z-index brings it forward */
width: 100%;
padding: 20px;
text-align: center;
}

#downNote {
background-color: #6351ce;
display: inline-block;
width: 95%;
height: 25px;
}

input[type="checkbox"] {
-webkit-appearance: checkbox;
-moz-appearance: checkbox;
appearance: checkbox;
width: auto;
}

#forget {
display: block;
margin-right: auto;
margin-left: auto;
background-color: #6351ce;
width: 95%;
height: 25px;
}

#space1 {
margin-top: 40px;
}

#space2 {
margin: 10px;
}

@media screen and (max-width: 1026px) {
    * {
        font-family: "Raleway";
    }

    #image {
        background-image: url("../images/login.jpg");
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 135%;
        -webkit-filter: blur(5px);
        -moz-filter: blur(5px);
        -o-filter: blur(5px);
        -ms-filter: blur(5px);
        filter: brightness(25%);
        z-index: -1;
    }

    /* Source: https://www.w3schools.com/howto/howto_css_blurred_background.asp */
    .loginWindow {
        background-color: rgb(0, 0, 0);
        /* Fallback color */
        background-color: rgba(0, 0, 0, 0.2);
        /* Black w/opacity/see-through */
        color: white;
        font-weight: bold;
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
        /* Position: absolute --> z-index brings it forward */
        width: 35%;
        padding: 20px;
        text-align: center;
    }

    #footer {
        background-color: rgb(0, 0, 0);
        /* Fallback color */
        background-color: rgba(0, 0, 0, 0.4);
        /* Black w/opacity/see-through */
        color: white;
        font-weight: bold;
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
        /* Position: absolute --> z-index brings it forward */
        width: 100%;
        padding: 20px;
        text-align: center;
    }

    #downNote {
        background-color: #6351ce;
        display: inline-block;
        width: 95%;
        height: 25px;
    }

    input[type="checkbox"] {
        -webkit-appearance: checkbox;
        -moz-appearance: checkbox;
        appearance: checkbox;
        width: auto;
    }

    #forget {
        display: block;
        margin-right: auto;
        margin-left: auto;
        background-color: #6351ce;
        width: 95%;
        height: 25px;
    }

    #space1 {
        margin-top: 40px;
    }

    #space2 {
        margin: 10px;
    }
}

@media screen and (max-width: 1235px) {
    * {
        font-family: "Raleway";
    }

    #image {
        background-image: url("../images/login.jpg");
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 135%;
        -webkit-filter: blur(5px);
        -moz-filter: blur(5px);
        -o-filter: blur(5px);
        -ms-filter: blur(5px);
        filter: brightness(25%);
        z-index: -1;
    }

    /* Source: https://www.w3schools.com/howto/howto_css_blurred_background.asp */
    .loginWindow {
        background-color: rgb(0, 0, 0);
        /* Fallback color */
        background-color: rgba(0, 0, 0, 0.2);
        /* Black w/opacity/see-through */
        color: white;
        font-weight: bold;
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
        /* Position: absolute --> z-index brings it forward */
        width: 35%;
        padding: 20px;
        text-align: center;
    }

    #footer {
        background-color: rgb(0, 0, 0);
        /* Fallback color */
        background-color: rgba(0, 0, 0, 0.4);
        /* Black w/opacity/see-through */
        color: white;
        font-weight: bold;
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
        /* Position: absolute --> z-index brings it forward */
        width: 100%;
        padding: 20px;
        text-align: center;
    }

    #downNote {
        background-color: #6351ce;
        display: inline-block;
        width: 95%;
        height: 25px;
    }

    input[type="checkbox"] {
        -webkit-appearance: checkbox;
        -moz-appearance: checkbox;
        appearance: checkbox;
        width: auto;
    }

    #forget {
        display: block;
        margin-right: auto;
        margin-left: auto;
        background-color: #6351ce;
        width: 95%;
        height: 25px;
    }

    #space1 {
        margin-top: 40px;
    }

    #space2 {
        margin: 10px;
    }
}

@media screen and (max-width: 935px) {
    * {
        font-family: "Raleway";
    }

    #image {
        background-image: url("../images/login.jpg");
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 135%;
        -webkit-filter: blur(5px);
        -moz-filter: blur(5px);
        -o-filter: blur(5px);
        -ms-filter: blur(5px);
        filter: brightness(25%);
        z-index: -1;
    }

    /* Source: https://www.w3schools.com/howto/howto_css_blurred_background.asp */
    .loginWindow {
        background-color: rgb(0, 0, 0);
        /* Fallback color */
        background-color: rgba(0, 0, 0, 0.2);
        /* Black w/opacity/see-through */
        color: white;
        font-weight: bold;
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
        /* Position: absolute --> z-index brings it forward */
        width: 40%;
        padding: 20px;
        text-align: center;
    }

    #footer {
        background-color: rgb(0, 0, 0);
        /* Fallback color */
        background-color: rgba(0, 0, 0, 0.4);
        /* Black w/opacity/see-through */
        color: white;
        font-weight: bold;
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
        /* Position: absolute --> z-index brings it forward */
        width: 100%;
        padding: 20px;
        text-align: center;
    }

    #downNote {
        background-color: #6351ce;
        display: inline-block;
        width: 95%;
        height: 25px;
    }

    input[type="checkbox"] {
        -webkit-appearance: checkbox;
        -moz-appearance: checkbox;
        appearance: checkbox;
        width: auto;
    }

    #forget {
        display: block;
        margin-right: auto;
        margin-left: auto;
        background-color: #6351ce;
        width: 95%;
        height: 25px;
    }

    #space1 {
        margin-top: 40px;
    }

    #space2 {
        margin: 10px;
    }
}

@media screen and (max-width: 768px) {

    * {
        font-family: "Raleway";
    }

    #image {
        background-image: url("../images/login.jpg");
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 175%;
        -webkit-filter: blur(5px);
        -moz-filter: blur(5px);
        -o-filter: blur(5px);
        -ms-filter: blur(5px);
        filter: brightness(25%);
        z-index: -1;
    }

    /* Source: https://www.w3schools.com/howto/howto_css_blurred_background.asp */
    .loginWindow {
        background-color: rgb(0, 0, 0);
        /* Fallback color */
        background-color: rgba(0, 0, 0, 0.2);
        /* Black w/opacity/see-through */
        color: white;
        font-weight: bold;
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
        /* Position: absolute --> z-index brings it forward */
        width: 60%;
        padding: 20px;
        text-align: center;
    }

    #footer {
        background-color: rgb(0, 0, 0);
        /* Fallback color */
        background-color: rgba(0, 0, 0, 0.4);
        /* Black w/opacity/see-through */
        color: white;
        font-weight: bold;
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
        /* Position: absolute --> z-index brings it forward */
        width: 100%;
        padding: 20px;
        text-align: center;
        margin-top: 300px;
    }

    #downNote {
        background-color: #6351ce;
        display: inline-block;
        width: 95%;
        height: 25px;
    }

    input[type="checkbox"] {
        -webkit-appearance: checkbox;
        -moz-appearance: checkbox;
        appearance: checkbox;
        width: auto;
    }

    #forget {
        display: block;
        margin-right: auto;
        margin-left: auto;
        background-color: #6351ce;
        width: 95%;
        height: 25px;
    }

    #space1 {
        margin-top: 40px;
    }

    #space2 {
        margin: 10px;
    }
}

@media screen and (max-width: 935px) {
    * {
        font-family: "Raleway";
    }

    #image {
        background-image: url("../images/login.jpg");
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 135%;
        -webkit-filter: blur(5px);
        -moz-filter: blur(5px);
        -o-filter: blur(5px);
        -ms-filter: blur(5px);
        filter: brightness(25%);
        z-index: -1;
    }

    /* Source: https://www.w3schools.com/howto/howto_css_blurred_background.asp */
    .loginWindow {
        background-color: rgb(0, 0, 0);
        /* Fallback color */
        background-color: rgba(0, 0, 0, 0.2);
        /* Black w/opacity/see-through */
        color: white;
        font-weight: bold;
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
        /* Position: absolute --> z-index brings it forward */
        width: 40%;
        padding: 20px;
        text-align: center;
    }

    #footer {
        background-color: rgb(0, 0, 0);
        /* Fallback color */
        background-color: rgba(0, 0, 0, 0.4);
        /* Black w/opacity/see-through */
        color: white;
        font-weight: bold;
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
        /* Position: absolute --> z-index brings it forward */
        width: 100%;
        padding: 20px;
        text-align: center;
    }

    #downNote {
        background-color: #6351ce;
        display: inline-block;
        width: 95%;
        height: 25px;
    }

    input[type="checkbox"] {
        -webkit-appearance: checkbox;
        -moz-appearance: checkbox;
        appearance: checkbox;
        width: auto;
    }

    #forget {
        display: block;
        margin-right: auto;
        margin-left: auto;
        background-color: #6351ce;
        width: 95%;
        height: 25px;
    }

    #space1 {
        margin-top: 40px;
    }

    #space2 {
        margin: 10px;
    }
}


@media screen and (max-width: 768px) {


    * {
        font-family: "Raleway";
    }

    #image {
        background-image: url("../images/login.jpg");
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 205%;
        -webkit-filter: blur(5px);
        -moz-filter: blur(5px);
        -o-filter: blur(5px);
        -ms-filter: blur(5px);
        filter: brightness(25%);
        z-index: -1;
    }

    /* Source: https://www.w3schools.com/howto/howto_css_blurred_background.asp */
    .loginWindow {
        background-color: rgb(0, 0, 0);
        /* Fallback color */
        background-color: rgba(0, 0, 0, 0.2);
        /* Black w/opacity/see-through */
        color: white;
        font-weight: bold;
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
        /* Position: absolute --> z-index brings it forward */
        width: 60%;
        padding: 20px;
        text-align: center;
    }

    #footer {
        background-color: rgb(0, 0, 0);
        /* Fallback color */
        background-color: rgba(0, 0, 0, 0.4);
        /* Black w/opacity/see-through */
        color: white;
        font-weight: bold;
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
        /* Position: absolute --> z-index brings it forward */
        width: 100%;
        padding: 20px;
        text-align: center;
        margin-top: 100px;
    }

    #downNote {
        background-color: #6351ce;
        display: inline-block;
        width: 95%;
        height: 25px;
    }

    input[type="checkbox"] {
        -webkit-appearance: checkbox;
        -moz-appearance: checkbox;
        appearance: checkbox;
        width: auto;
    }

    #forget {
        display: block;
        margin-right: auto;
        margin-left: auto;
        background-color: #6351ce;
        width: 95%;
        height: 25px;
    }

    #space1 {
        margin-top: 40px;
    }

    #space2 {
        margin: 10px;
    }
}

@media screen and (max-width: 635px) {
    * {
        font-family: "Raleway";
    }

    #image {
        background-image: url("../images/login.jpg");
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 205%;
        -webkit-filter: blur(5px);
        -moz-filter: blur(5px);
        -o-filter: blur(5px);
        -ms-filter: blur(5px);
        filter: brightness(25%);
        z-index: -1;
    }

    /* Source: https://www.w3schools.com/howto/howto_css_blurred_background.asp */
    .loginWindow {
        background-color: rgb(0, 0, 0);
        /* Fallback color */
        background-color: rgba(0, 0, 0, 0.2);
        /* Black w/opacity/see-through */
        color: white;
        font-weight: bold;
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
        /* Position: absolute --> z-index brings it forward */
        width: 60%;
        padding: 20px;
        text-align: center;
    }

    #footer {
        background-color: rgb(0, 0, 0);
        /* Fallback color */
        background-color: rgba(0, 0, 0, 0.4);
        /* Black w/opacity/see-through */
        color: white;
        font-weight: bold;
        position: absolute;
        top: 130%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
        /* Position: absolute --> z-index brings it forward */
        width: 100%;
        padding: 20px;
        text-align: center;
    }

    #downNote {
        background-color: #6351ce;
        display: inline-block;
        width: 95%;
        height: 25px;
    }

    input[type="checkbox"] {
        -webkit-appearance: checkbox;
        -moz-appearance: checkbox;
        appearance: checkbox;
        width: auto;
    }

    #forget {
        display: block;
        margin-right: auto;
        margin-left: auto;
        background-color: #6351ce;
        width: 95%;
        height: 25px;
    }

    #space1 {
        margin-top: 40px;
    }

    #space2 {
        margin: 10px;
    }
}

@media screen and (max-width: 551px) {
    * {
        font-family: "Raleway";
    }

    #image {
        background-image: url("../images/login.jpg");
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 205%;
        -webkit-filter: blur(5px);
        -moz-filter: blur(5px);
        -o-filter: blur(5px);
        -ms-filter: blur(5px);
        filter: brightness(25%);
        z-index: -1;
    }

    /* Source: https://www.w3schools.com/howto/howto_css_blurred_background.asp */
    .loginWindow {
        background-color: rgb(0, 0, 0);
        /* Fallback color */
        background-color: rgba(0, 0, 0, 0.2);
        /* Black w/opacity/see-through */
        color: white;
        font-weight: bold;
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
        /* Position: absolute --> z-index brings it forward */
        width: 70%;
        padding: 20px;
        text-align: center;
    }

    #footer {
        background-color: rgb(0, 0, 0);
        /* Fallback color */
        background-color: rgba(0, 0, 0, 0.4);
        /* Black w/opacity/see-through */
        color: white;
        font-weight: bold;
        position: absolute;
        top: 130%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
        /* Position: absolute --> z-index brings it forward */
        width: 100%;
        padding: 20px;
        text-align: center;
    }

    #downNote {
        background-color: #6351ce;
        display: inline-block;
        width: 95%;
        height: 25px;
    }

    input[type="checkbox"] {
        -webkit-appearance: checkbox;
        -moz-appearance: checkbox;
        appearance: checkbox;
        width: auto;
    }

    #forget {
        display: block;
        margin-right: auto;
        margin-left: auto;
        background-color: #6351ce;
        width: 95%;
        height: 25px;
    }

    #space1 {
        margin-top: 40px;
    }

    #space2 {
        margin: 10px;
    }
}

@media screen and (max-width: 767px) {
    * {
        font-family: "Raleway";
    }

    #image {
        background-image: url("../images/login.jpg");
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 205%;
        -webkit-filter: blur(5px);
        -moz-filter: blur(5px);
        -o-filter: blur(5px);
        -ms-filter: blur(5px);
        filter: brightness(25%);
        z-index: -1;
    }

    /* Source: https://www.w3schools.com/howto/howto_css_blurred_background.asp */
    .loginWindow {
        background-color: rgb(0, 0, 0);
        /* Fallback color */
        background-color: rgba(0, 0, 0, 0.2);
        /* Black w/opacity/see-through */
        color: white;
        font-weight: bold;
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
        /* Position: absolute --> z-index brings it forward */
        width: 70%;
        padding: 20px;
        text-align: center;
    }

    #footer {
        background-color: rgb(0, 0, 0);
        /* Fallback color */
        background-color: rgba(0, 0, 0, 0.4);
        /* Black w/opacity/see-through */
        color: white;
        font-weight: bold;
        position: absolute;
        top: 130%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
        /* Position: absolute --> z-index brings it forward */
        width: 100%;
        padding: 20px;
        text-align: center;
    }

    #downNote {
        background-color: #6351ce;
        display: inline-block;
        width: 95%;
        height: 25px;
    }

    input[type="checkbox"] {
        -webkit-appearance: checkbox;
        -moz-appearance: checkbox;
        appearance: checkbox;
        width: auto;
    }

    #forget {
        display: block;
        margin-right: auto;
        margin-left: auto;
        background-color: #6351ce;
        width: 95%;
        height: 25px;
    }

    #space1 {
        margin-top: 40px;
    }

    #space2 {
        margin: 10px;
    }
}

    @media screen and (max-width: 401px) {
    * {
        font-family: "Raleway";
    }

    #image {
        background-image: url("../images/login.jpg");
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 205%;
        -webkit-filter: blur(5px);
        -moz-filter: blur(5px);
        -o-filter: blur(5px);
        -ms-filter: blur(5px);
        filter: brightness(25%);
        z-index: -1;
    }

    /* Source: https://www.w3schools.com/howto/howto_css_blurred_background.asp */
    .loginWindow {
        background-color: rgb(0, 0, 0);
        /* Fallback color */
        background-color: rgba(0, 0, 0, 0.2);
        /* Black w/opacity/see-through */
        color: white;
        font-weight: bold;
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
        /* Position: absolute --> z-index brings it forward */
        width: 70%;
        padding: 20px;
        text-align: center;
    }

    #footer {
        background-color: rgb(0, 0, 0);
        /* Fallback color */
        background-color: rgba(0, 0, 0, 0.4);
        /* Black w/opacity/see-through */
        color: white;
        font-weight: bold;
        position: absolute;
        top: 150%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
        /* Position: absolute --> z-index brings it forward */
        width: 100%;
        padding: 20px;
        text-align: center;
    }

    #downNote {
        background-color: #6351ce;
        display: inline-block;
        width: 95%;
        height: 25px;
    }

    input[type="checkbox"] {
        -webkit-appearance: checkbox;
        -moz-appearance: checkbox;
        appearance: checkbox;
        width: auto;
    }

    #forget {
        display: block;
        margin-right: auto;
        margin-left: auto;
        background-color: #6351ce;
        width: 95%;
        height: 25px;
    }

    #space1 {
        margin-top: 40px;
    }

    #space2 {
        margin: 10px;
    }
}

@media screen and (max-width: 375px) {
    * {
        font-family: "Raleway";
    }

    #image {
        background-image: url("../images/login.jpg");
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 230%;
        -webkit-filter: blur(5px);
        -moz-filter: blur(5px);
        -o-filter: blur(5px);
        -ms-filter: blur(5px);
        filter: brightness(25%);
        z-index: -1;
    }

    /* Source: https://www.w3schools.com/howto/howto_css_blurred_background.asp */
    .loginWindow {
        background-color: rgb(0, 0, 0);
        /* Fallback color */
        background-color: rgba(0, 0, 0, 0.2);
        /* Black w/opacity/see-through */
        color: white;
        font-weight: bold;
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
        /* Position: absolute --> z-index brings it forward */
        width: 90%;
        padding: 20px;
        text-align: center;
    }

    #footer {
        background-color: rgb(0, 0, 0);
        /* Fallback color */
        background-color: rgba(0, 0, 0, 0.4);
        /* Black w/opacity/see-through */
        color: white;
        font-weight: bold;
        position: absolute;
        top: 110%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
        /* Position: absolute --> z-index brings it forward */
        width: 100%;
        padding: 20px;
        text-align: center;
        margin-top: 250px;
    }

    #downNote {
        background-color: #6351ce;
        display: inline-block;
        width: 95%;
        height: 25px;
    }

    input[type="checkbox"] {
        -webkit-appearance: checkbox;
        -moz-appearance: checkbox;
        appearance: checkbox;
        width: auto;
    }

    #forget {
        display: block;
        margin-right: auto;
        margin-left: auto;
        background-color: #6351ce;
        width: 95%;
        height: 25px;
    }

    #space1 {
        margin-top: 40px;
    }

    #space2 {
        margin: 10px;
    }
}

@media screen and (max-width: 414px) {
    * {
        font-family: "Raleway";
    }

    #image {
        background-image: url("../images/login.jpg");
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 250%;
        -webkit-filter: blur(5px);
        -moz-filter: blur(5px);
        -o-filter: blur(5px);
        -ms-filter: blur(5px);
        filter: brightness(25%);
        z-index: -1;
    }

    /* Source: https://www.w3schools.com/howto/howto_css_blurred_background.asp */
    .loginWindow {
        background-color: rgb(0, 0, 0);
        /* Fallback color */
        background-color: rgba(0, 0, 0, 0.2);
        /* Black w/opacity/see-through */
        color: white;
        font-weight: bold;
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
        /* Position: absolute --> z-index brings it forward */
        width: 80%;
        padding: 20px;
        text-align: center;
    }

    #footer {
        background-color: rgb(0, 0, 0);
        /* Fallback color */
        background-color: rgba(0, 0, 0, 0.4);
        /* Black w/opacity/see-through */
        color: white;
        font-weight: bold;
        position: absolute;
        top: 120%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
        /* Position: absolute --> z-index brings it forward */
        width: 100%;
        padding: 20px;
        text-align: center;
    }

    #downNote {
        background-color: #6351ce;
        display: inline-block;
        width: 95%;
        height: 25px;
    }

    input[type="checkbox"] {
        -webkit-appearance: checkbox;
        -moz-appearance: checkbox;
        appearance: checkbox;
        width: auto;
    }

    #forget {
        display: block;
        margin-right: auto;
        margin-left: auto;
        background-color: #6351ce;
        width: 95%;
        height: 25px;
    }

    #space1 {
        margin-top: 40px;
    }

    #space2 {
        margin: 10px;
    }
}